/* == Styles for ProLo Systems (Marathon Project) */

html, body, ul, img {
    margin: 0;
    padding: 0;
    color: #FAF5FA;
}

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    background-color: #595A6F;
}

textarea, input, select {
    font-family: inherit;
}

a {
    color: #B8B9D5;
    text-decoration: none;
    font-weight: 500;
    padding-right: 20px;
    transition: 0.2s all ease-in-out;
}

a:hover {
    color: #FAF5FA;
}

h2 {
    font-size: 0.8rem;
    text-transform: uppercase;
    color: #666791;
}

/* NAVBAR
 * ======
 */

#user-photo {
    border: 1px solid black;
}

.dropdown-arrow {
    border: 1px solid black;
}

#navbar {
    position: fixed;
    top: 0;
    height: 90px;
    width: 100%;
    background-color: #373853;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
}

#nav-menu {
    float: left;
    list-style-type: none;
    height: 1rem;
    margin: auto;
    padding-top: 40px;
    padding-left: 6%;
}

#brand {
    float: left;
    margin: 0;
    padding: 0;
    margin: auto;
    padding-top: 14px;
    padding-left: 8%;
}

#brand p {
    margin: 0;
    padding: 20px;
    border: 1px solid black;
}

#account-cluster {
    float: right;
    padding-right: 6%;
    padding-top: 40px;
}

#account li {
    display: inline;
}

#nav-menu li {
    display: inline;
}

#user-name {
    display: inline-block;
    margin: 0;
    padding: 0;
}

/* SIDEBAR
* ======
*/

#sidebar {
    position: fixed;
    top: 120;
    right: 0;
    padding-right: 20px;
}

#sidebar ul {
    font-size: 14px;
    list-style: none;
    text-align: right;
}

#sidebar a:hover {
    color: #FAF5FA;
}

#sidebar ul li:last-of-type a {
    color: #FAF5FA;
}

#sidebar ul li {
    padding-bottom: 5px;
}

/* SECTION CLASSES
* ======
*/

.section {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    width: 70%;
    margin: 10% auto;
    background-color: #373853;
    border-radius: 5px;
    overflow: auto;
}

.section h2 {
    padding: 30px 0 0 20px;
}

.section::after {
    content: "";
    display: block;
    clear: both;
}

.addRow {
    height: 40px;
    /*border-top: 1px solid #666791;*/
    padding: 10px;
    text-align: center;
}

.sub-section:first-of-type {
    margin: 0 0 20px 20px;
}

button {
    background-color: #666791;
    border: none;
    padding: 10px;
    color: #FAF5FA;
}

/* INPUT, SELECT, and TEXTAREA
 * ======
 */

input:focus, select:focus, textarea:focus {
    outline: none !important;
    border-bottom: 2px solid #666791;
    transition: all 0.2s ease-in-out;
}

input, select {
    background-color: #373853;
    border: none;
    border-bottom: 2px solid #373853;
    width: 80%;
    color: #FAF5FA;
}

textarea {
    color: #FAF5FA;
}

select {
    color: #B8B9D5;
    /*-webkit-appearance: none;
    -webkit-border-radius: 0px;
    background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#444' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
    background-position: 100% 50%;
    background-repeat: no-repeat;*/
}

input::-webkit-input-placeholder {
    /*color: #666791;*/
    color: #B8B9D5;
}

textarea::-webkit-input-placeholder {
    color: #B8B9D5;
}

input::-webkit-input-placeholder, input, select, textarea {
    font-size: 0.8rem;
}

/* TABLE
 * ======
 */

table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

thead tr {
    height: 45px;
    background-color: #48496C;
}

tbody tr {
    height: 45px;
    border-bottom: 1px solid #666791;
}

th {
    font-size: 0.75rem;
    text-align: left;
}

thead tr th:first-of-type {
    padding-left: 20px;
}

tbody tr td:first-child {
    padding-left: 20px;
}

/* REPORT LIST SECTION
 * ======
 */

#report-list tr {
    height: 55px;
    color: #B8B9D5;
    border-top: 1px solid #48496C;
    transition: 0.2s ease-in-out;
}

#report-list tr:hover {
    background-color: #666791;
    cursor: pointer;
}

#report-list td {
    padding-left: 20px;
}

/* GENEAL SECTION
 * ======
 */

#general input, #general select {
    display: block;
}

#general input[name="reportName"] {
    margin: 30px 0 0 20px;
}

#general h2 {
    padding-left: 0;
    margin-left: 0;
}

#general .sub-section {
    float: left;
    padding: 5px 14px;
    width: 30%;
}

#general .sub-section:first-of-type h2 {
    margin-bottom: 0;
}

#general input, #general select, #general textarea {
    background-color: #48496C;
    border: 2px solid #48496C;
    margin: 14px 0px;
    border-radius: 5px;
    width: 90%;
    height: 20px;
    padding: 10px;
}

#general .select-container {
    background-color: #48496C;
    border: 2px solid #48496C;
    margin: 14px 0px;
    border-radius: 5px;
}

#general .sub-section:nth-of-type(3) {
    width: 20%;
}

#general select {
    width: 95%;
}

#general input[name="logNumber"] {
    width: 20%;
    margin: 14px 10px 0 0;
    display: inline-block;
}

#general input[name="date"] {
    width: 57.5%;
    display: inline-block;
    margin: 14px 0 0 0;
}

#general textarea {
    resize: none;
    margin-top: 0px;
    height: 60px;
}

#general input:focus, #general select:focus, #general textarea:focus {
    border: 2px solid #666791 !important;
}

#general select {
    color: #B8B9D5;
}

#general input::-webkit-input-placeholder {
    color: #B8B9D5;
}

#general input[name="reportName"] {
    background-color: transparent;
    /*border: 2px solid #373853;*/
    /*box-shadow: 2px 0 0 0 #373853;*/
    border-radius: 0 !important;
    border-width: 0 0 2px 0;
    border-bottom: 2px solid #48496C;
    font-size: 1.7rem;
    height: 30px;
    width: 27.5%;
    font-weight: bold;
}

#general input[name="reportName"]::-webkit-input-placeholder {
    font-size: 1.7rem;
    font-weight: bold;
}

#general input[name="reportName"]:focus {
    outline: none !important;
    border: none !important;
    border-bottom: 2px solid #666791 !important;
    transition: all 0.2s ease-in-out;
}

/* PERSONAL SECTION
 * ======
 */

/*
#personal th {
    min-width: calc(100%/6);
}
*/

/* Year Acq. */

#personal th:first-of-type {
    width: 10%;
}

/* Item Description */

#personal th:nth-of-type(2) {
    width: 25%;
}

/* Group */

#personal th:nth-of-type(3) {
    width: 15%;
}

/* Status */

#personal th:nth-of-type(4) {
    width: 10%;
}

/* Amount Changed */

#personal th:nth-of-type(5) {
    width: 15%;
}

/* Cost */

#personal th:nth-of-type(6) {
    width: 15%;
}

/* VEHICLES SECTION
 * ======
 */

/*#vehicles th, #vehicles td {
    width: calc(100%/9);
}*/

/* Year Acq. */

#vehicles th:first-of-type {
    width: 10%;
}

/* Model Year */

#vehicles th:nth-of-type(2) {
    width: 5%;
}

/* Make */

#vehicles th:nth-of-type(3) {
    width: 10%;
}

/* Model */

#vehicles th:nth-of-type(4) {
    width: 10%;
}

/* Body/Size */

#vehicles th:nth-of-type(5) {
    width: 10%;
}

/* Title # */

#vehicles th:nth-of-type(6) {
    width: 15%;
}

/* Vehicle ID # */

#vehicles th:nth-of-type(7) {
    width: 20%;
}

/* Group # */

#vehicles th:nth-of-type(8) {
    width: 10%;
}

/* Cost */

#vehicles th:nth-of-type(9) {
    width: 10%;
}

/* OTHER & SUPPLIES SECTION
 * ======
 */

#other-supplies th:first-of-type {
    width: 10%;
}

/* Model Year */

#other-supplies th:nth-of-type(2) {
    width: 60%;
}

#other-supplies th:nth-of-type(3) {
    width: 10%;
}

/* AFFIRMATION SECTION
 * ======
 */

#affirmation input {
    margin-left: 40px;
}

#affirmation button {
    margin: 20px 0 0 20px;
}

#affirmation input:nth-of-type(1) {
    width: 40%;
}

#affirmation form {
    margin: 0 20px 30px 20px;
}

#affirmation td:first-of-type {
    padding-left: 0;
}

#affirmation {
    padding-bottom: 20px;
}

/* Popup
 * ======
 */

#popup {
    position: fixed;
    top: 90px;
    left: 0;
    z-index: 10;
    width: 100%;
    background-color: #48496C;
}

#popup p {
    text-align: center;
    padding: 10px;
    color: #FFD41F;
    margin: auto;
    font-weight: 700;
    font-size: 0.85rem;
}
